@font-face {
    font-family: 'helvetica_neuethin';
    src: url('Helvetica/helveticaneuethin-webfont.eot');
    src: url('Helvetica/helveticaneuethin-webfontd41d.eot?#iefix') format('embedded-opentype'),
         url('Helvetica/helveticaneuethin-webfont.html') format('woff2'),
         url('Helvetica/helveticaneuethin-webfont.woff') format('woff'),
         url('Helvetica/helveticaneuethin-webfont.ttf') format('truetype'),
         url('Helvetica/helveticaneuethin-webfont.svg#helvetica_neuethin') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family:'helvetica_neuethin';
    src: url(/../'Helvetica/helveticaneuethin-webfont.eot');
    src: url(/../'Helvetica/helveticaneuethin-webfontd41d.eot?#iefix') format('embedded-opentype'),
         url(/../'Helvetica/helveticaneuethin-webfont.html') format('woff2'),
         url(/../'Helvetica/helveticaneuethin-webfont.woff') format('woff'),
         url(/../'Helvetica/helveticaneuethin-webfont.ttf') format('truetype'),
         url(/../'Helvetica/helveticaneuethin-webfont.svg#helvetica_neuethin') format('svg');
    font-weight: normal;
    font-style: normal;

}

 .lineasuperior {

		width: 102%;
		margin: -8px;
		background:#eee;
		height: 50px;
        overflow: hidden;


 }

 

.logo1{
    z-index: 2;
    position:absolute;
    height: 46px;
    overflow:hidden;
}

 .menu {

	width: 1077px;
	height:600px;
	margin: 62px auto;

 }

 .aulasvirtuales {
 	width: 252px;
 	height: 288px;
 	background: #eee;
 	border: 1px solid white;
    box-shadow: -6px 6px 18px #CCC;
        
   
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
;

 }

 .aulasvirtuales:hover{
    -webkit-transform: rotate(-7deg);
    -moz-transform: rotate(-7deg);
    -o-transform: rotate(-7deg);
 }

 .planlector{
 	width: 252px;
 	height: 288px;
 	background: #eee;
 	margin-top:25px;
 	margin-left: 271px;
 	border: 1px solid white;
    box-shadow: -6px 6px 18px #CCC;
        
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
;

 }

 .planlector:hover{
    -webkit-transform: rotate(-7deg);
    -moz-transform: rotate(-7deg);
    -o-transform: rotate(-7deg);
 }

 .textosescolares{
 	width: 252px;
 	height: 288px;
    background: #eee;
 	margin-top:-288px;
 	margin-left: 825px;
 	border: 1px solid white;
    box-shadow: -6px 6px 18px #CCC;
        
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
;
 }

 .textosescolares:hover{
    -webkit-transform: rotate(-7deg);
    -moz-transform: rotate(-7deg);
    -o-transform: rotate(-7deg);
 }

 .listadeutiles{
 	width: 252px;
 	height: 288px;
    background: #eee;
 	margin-top:-288px;
 	margin-left: 550px;
 	border: 1px solid white;
    box-shadow: -6px 6px 18px #CCC;
       
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
;
 }

 .listadeutiles:hover{
    -webkit-transform: rotate(-7deg);
    -moz-transform: rotate(-7deg);
    -o-transform: rotate(-7deg);
 }

 .roldeexamenes{
 	width: 252px;
 	height: 288px;
 	background: #eee;
 margin-top:-288px;
 	margin-left: 825px;
 	border: 1px solid white;
    box-shadow: -6px 6px 18px #CCC;

    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
;
 }

 .roldeexamenes:hover{

    -webkit-transform: rotate(-7deg);
    -moz-transform: rotate(-7deg);
    -o-transform: rotate(-7deg);
 }


 .comunicados{
 	width: 252px;
 	height: 288px;
    background: #eee;
 	margin-top: -612px;
 	margin-left: 275px;
 	border: 1px solid white;
    box-shadow: -6px 6px 18px #CCC;
   
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
;

 }
.comunicados:hover{-webkit-transform: rotate(-7deg);
    -moz-transform: rotate(-7deg);
    -o-transform: rotate(-7deg);}
 
 .manuales{
 	width: 252px;
 	height: 288px;
    background: #eee;
 	margin-top:28px;
 	border: 1px solid white;
    box-shadow: -6px 6px 18px #CCC;
       
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
;

 }

 


 .mathonline{
 	width: 252px;
 	height: 288px;
    background: #eee;
 	margin-top:-607px;
 	margin-left: 550px;
 	border: 1px solid white;
    box-shadow: -6px 6px 18px #CCC;
        
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
;
 }

 .mathonline:hover{
    -webkit-transform: rotate(-7deg);
    -moz-transform: rotate(-7deg);
    -o-transform: rotate(-7deg);
 }
 .atencionppf{
 	width: 252px;
 	height: 288px;
 	background: #eee;
 	margin-top:23px;
 	border: 1px solid white;
    box-shadow: -6px 6px 18px #CCC;
        
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
;
 }

 .atencionppf:hover{
    -webkit-transform: rotate(-7deg);
    -moz-transform: rotate(-7deg);
    -o-transform: rotate(-7deg);
 }
 .barra{
 	width: 252px;
 	height:72px;
 	border: 1px solid #ccc;
 	background: #FFD526;
 	position: relative;
 	margin-top: 213px;
    overflow: hidden;
    box-shadow: -6px 6px 18px #CCC;

 }

 .barra3{
    width: 252px;
    height:72px;
    border: 1px solid #ccc;
    background: yellow;
    position: relative;
    margin-top: 213px;
    overflow: hidden;
    box-shadow: -6px 6px 18px #CCC;

 }

 .barra2{
 	width: 252px;
 	height:72px;
 	border: 1px solid #ccc;
 	background: #FFD526;
 	position: relative;
 	margin-top: 241px;

 }

 .titulobarra{
 	font-family:'helvetica_neuethin';
 	font-weight:100;
 	font-size: 23pt;
 	text-align: center;
 	margin: 0 auto;
    color: black;
    text-decoration: none;

    
 }

 .titulobarra3{
    font-family:'helvetica_neuethin';
    font-weight:100;
    font-size: 16pt;
    text-align: center;
    margin-top:-236px;
    margin-left:211px;
    color: black;
    text-align: left;
    
 }

  .titulobarra5{
    font-family:'helvetica_neuethin';
    font-weight:100;
    font-size: 22pt;
    text-align: center;
    margin-top:-23px;
    margin-left:585px;
    color: black;
    text-align: left;
    
 }

   .titulobarrapf{
    font-family:'helvetica_neuethin';
    font-weight:100;
    font-size: 22pt;
    text-align: center;
    margin-top:-23px;
    margin-left:536px;
    color: black;
    text-align: left;
    
 }
 .titulobarrapfdos{
    font-family:'helvetica_neuethin';
    font-weight:100;
    font-size: 22pt;
    text-align: center;
    margin-top:0px;
    margin-left:536px;
    color: black;
    text-align: left;
    
 }

 .textoagrandado h3:hover{
    font-size: 20pt
 }
 

 
 .aulasvirtualesimg{margin-top:9px;
    margin-left:24px;
    position: absolute;
    height: 194px;

}
 	
   
 .textosescolaresimg{
    position: absolute;
    height: 194px;
    margin-top: 5px;
    margin-left: 16px;
 }

 .comunicadosimg{
    position: absolute;
    height: 194px;
    margin-top: 5px;
    margin-left: 26px;

 }



 .manualesimg{
    position: absolute;
    height: 172px;
    margin-top: 11px;
    margin-left: 17px;
 }
 .planlectorimg{
    position: absolute;
    height: 189px;
    margin-top: 5px;
    margin-left: 41px;
 }

 .listadeutilesimg{
    position: absolute;
    height: 194px;
    margin-top: 5px;
    margin-left: 41px;
 }

 .roldeexamenesimg{
    position: absolute;
    height: 194px;
    margin-top: 5px;
    margin-left: 0px;
 }

 .atencionppffimg{
    position: absolute;
    height: 144px;
    margin-top: -182px;
    margin-left: 3px;
    z-index: 1
 }

 .creditos{
    font-family: "helvetica_neuethin";
    background:rgb(0,53,146);
    font-weight: 100 ;
    color:white;
    height:59px;
    font-size: 15pt;
    text-align: center;
    margin-left: -18%;
    width: 121%;
    margin-top:62px;
    
   
    

}
.creditos2{
    font-family: "helvetica_neuethin";
    background:rgb(0,53,146);
    font-weight: 100 ;
    color:white;
    height:59px;
    font-size: 15pt;
    text-align: center;
    margin-left: -18%;
    width: 121%;
    margin-top:301px;
    
   
    

}
.creditos8{
    font-family: "helvetica_neuethin";
    background:rgb(0,53,146);
    font-weight: 100 ;
    color:white;
    height:59px;
    font-size: 15pt;
    text-align: center;
    margin-left: -18%;
    width: 121%;
    margin-top:700px;
    
   
    

}
.creditos6{
    font-family: "helvetica_neuethin";
    background:rgb(0,53,146);
    font-weight: 100 ;
    color:white;
    height:59px;
    font-size: 15pt;
    text-align: center;
    margin-left: -18%;
    width: 121%;
    margin-top:-315px;
    
   
    

}

.comunicadoventana{
    height: 500px;
}


/* eh aquí estilos de plan lector */

.accordion{
    
   margin: 0 auto;

    
}

 .seccion1acordion{
    list-style: none;
    border: 2px solid #FFD526;
    background: #F8F8F8;
    box-shadow: -6px 6px 18px #CCC;
    width: 900px;
    height: 75px;
    margin: 13px auto;
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    overflow: hidden;

 }

 .seccion1acordion:hover{
    height: 500px;
 }

 .txtseccion{
    font-family:"helvetica_neuethin";
    font-weight: 100;
    font-size:23pt;
     margin-left: 15px;
    margin-top:11px;
 }

  .seccion1acordion{
    list-style: none;
    border: 2px solid #FFD526;
    background: #F8F8F8;
    box-shadow: -6px 6px 18px #CCC;
    width: 900px;
    height: 75px;
    margin: 0 auto;
    margin-top: 15px;
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    overflow: hidden;

 }

 .seccion1acordion:hover{
    height: 500px;
 }
.seccion2acordion{
    list-style: none;
    border: 2px solid #FFD526;
    background: #F8F8F8;
    box-shadow: -6px 6px 18px #CCC;
    width: 900px;
    height: 75px;
    margin: 0 auto;
    margin-top: 15px;
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    overflow: hidden;

 }

 .seccion2acordion:hover{
    height: 500px;
 }


 .txtseccion1{
    font-family:"helvetica_neuethin";
    font-weight: 100;
    font-size:23pt;
    margin-left: 15px;
    margin-top:11px;
 }

 /* eh aquí estilos de plan lector/tabla de contenido */

ul.tabs {
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
    height: 32px;
    border-bottom: 1px solid #333;
    width: 100%;
    font-family: 'helvetica_neuethin';
    font-weight: 100;
    display: block;
}

ul.tabs li {
    float: left;
    margin: 0;
    cursor: pointer;
    padding: 0px 21px;
    height: 31px;
    line-height: 31px;
    border-top: 1px solid #333;
    border-left: 1px solid #333;
    border-bottom: 1px solid #333;
    background-color: #FFD526;
    color: black;
    overflow: hidden;
    position: relative;
    display: block;
}

.tab_last { border-right: 1px solid #333; }

ul.tabs li:hover {
    background-color: #ccc;
    color: #333;
}

ul.tabs li.active {
    background-color: #fff;
    color: #333;
    border-bottom: 1px solid #fff;
    display: block;
}

.tab_container {
    border: 1px solid #333;
    border-top: none;
    clear: both;
    float: left;
    width: 100%;
    background: #fff;
    overflow: auto;
    height: 500px;
}
.tab_container2 {
    border: 1px solid #333;
    border-top: none;
    clear: both;
    float: left;
    width: 100%;
    background: #fff;
    overflow: auto;
    height: 500px;
}

.tab_content {
    padding: 20px;
    display: block;
}
.tab_content2 {
    padding: 20px;
    display: block;
}

.tab_drawer_heading { display: block; }

@media screen and (max-width: 480px) {
    .tabs {
        display: none;
    }
    .tab_drawer_heading {
        background-color: #ccc;
        color: #fff;
        border-top: 1px solid #333;
        margin: 0;
        padding: 5px 20px;
        display: block;
        cursor: pointer;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .d_active {
        background-color: #666;
        color: #fff;
    }
}

.tab5img{
    height: 315px;
   margin-left: 13px;
   dis
}
.tab4img{
    height: 315px;
    margin-left: 29px;
}
.tab3img{
    height: 353px;
    margin-left: 20px;
    margin-top: -4px;
}

.tab3img2{
    height: 353px;
    margin-left: 8px;
    margin-top: -4px;
}
}

img {

    height: 344px;

}


   
.pfs{

    width: 1077px;
    height: 600px;
   
    margin: 58px auto;
}

.pfs div {

    background: #eee;
    -webkit-transition: box-shadow 0.5s;
     -moz-transition: box-shadow 0.5s;  
    transition: box-shadow 0.5s;
    
}

.pfs div:hover{
    box-shadow: 10px 10px 10px #ccc
}

.pfadministrativo{

    width: 500px;
    height: 80px;
     border: 1px solid black;

    
}

.pfmatematica {

    width: 500px;
    height: 80px;
 border: 1px solid black;
    margin-top: 20px;

}

.pfcomunicacion {

    width: 500px;
    height: 80px;
     border: 1px solid black;
    margin-top: 20px;

}

.pfingles {

    width: 500px;
    height: 80px;
     border: 1px solid black;
    margin-top: 20px;

}

.pfcomputacion{

    width: 500px;
    height: 80px;
     border: 1px solid black;
    margin-top: 20px;
    
}

.pfarte {

    width: 500px;
    height: 80px;
    border: 1px solid black;
    margin-top: 20px;

}

















.pfpersona{

    width: 500px;
    height: 80px;
     border: 1px solid black;
    margin-top: 20px;
}

.pfcivica {

    width: 500px;
    height: 80px;
     border: 1px solid black;
    margin-top: 20px;

}

.pfeduacionfisica {

    width: 500px;
    height: 80px;
     border: 1px solid black;
    margin-top: 0px;

}

.pfhistoria {

    width: 500px;
    height: 80px;
    border: 1px solid black;
    margin-top: 20px;

}

.pfcta{

    width: 500px;
    height: 80px;
     border: 1px solid black;
    margin-top: 20px;
    
}

.pfreligion {

    width: 500px;
    height: 80px;
    border: 1px solid black;
    margin-top: 20px;

}


.secciondos
{

    margin-left: 577px;
    margin-top: -593px;
}

.separador  {

    width: 400px;
    height: 80px;
    background: #FFD526;
    

}

.imgpf{

     margin-top: -70px;
   position: absolute;
   margin-left: 426px;
   height: 58px;

}



.imgpf1{

   margin-top: -72px;
   position: absolute;
   margin-left: 417px;
   height: 57px;
    
}


.imgpf2{

   margin-top: -72px;
   position: absolute;
   margin-left: 417px;
   height: 57px;
    
}

.imgpf3{

   margin-top: -72px;
   position: absolute;
   margin-left: 404px;
   height: 57px;
    
}


.imgpf4{

   margin-top: -84px;
   position: absolute;
   margin-left: 416px;
   height: 72px;
    
}

.imgpf5{

   margin-top: -76px;
   position: absolute;
   margin-left: 416px;
   height: 72px;
    
}

.pffullmat{
   width: 1077px;
    height: 1080px;
    margin: 58px auto;
 
    
}



.pfmatarturito{
  width: 500px;
  height:200px;
  
 }

 .pfmatlourdes{
  width: 500px;
  height:200px;
  
  margin-top:20px;
 }

 .pfmatmarco{
  width: 500px;
  height:200px;
  
  margin-top:20px;
 }

 .pfmatmariella{
  width: 500px;
  height:200px;
  
  margin-top:20px;
 }

  .pfmatmilagros{
  width: 500px;
  height:200px;
  
  margin-top:20px;
 }

.seccionpfmatdos{
    width: 500px;
  height:200px;
  margin-top: -1286px;
  margin-left: 577px;
}

.seccionpfmatdosdos{
    width: 500px;
  height:200px;
  margin-top: -772px;
  margin-left: 577px;
}

.seccionpfmatdosuno{
    width: 500px;
  height:200px;
  margin-top: -772px;
  margin-left: 577px;
}
  .pfmatpaty{
  width: 500px;
  height:200px;
  
  margin-top:20px;
 }

 .pfmatcarmen{
  width: 500px;
  height:200px;
  
  margin-top:20px;
 }

 .pfmathector{
  width: 500px;
  height:200px;
  
  margin-top:20px;
 }
  .pfmatpedro{
  width: 500px;
  height:200px;
  
  margin-top:20px;
 }
 
 .pfmatyohanny{
  width: 500px;
  height:200px;
  
  margin-top:20px;
 }
 
 .pffullmat div{

    border: 1px solid black;
    height: 235px;
    background-color:#ECEDEC;
    overflow: hidden;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
;
 }

  .pffullppffs div{

    border: 1px solid black;
    height: 235px;
    background-color:#ECEDEC;
    overflow: hidden;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
;
 }

  .pffullmat div:hover{

    
    background-color:#FFD526;
 }

 .pffullppffs div{

    
    background-color:#FFD526;
 }

.imgpfmatpp{
    
    background: #FFD526;
    height: 213px;
    width: 165px;
    margin-top:0px;
    margin-left:0px;
    border-left: 18px solid white;
    border-top: 11px solid white;
    border-bottom: 11px solid white;

}
.imgpfmatpp2{
    
    background: #FFD526;
    height: 213px;
    width: 165px;
    margin-top:0px;
    margin-left:0px;
    border-left: 18px solid #f6efe4;
    border-top: 11px solid #f6efe4;
    border-bottom: 11px solid #f6efe4;

}



.imgpfmatpp4{
    
    background: #FFD526;
    height: 213px;
    width: 165px;
    margin-top:0px;
    margin-left:0px;
    border-left: 18px solid #ECEDEC;
    border-top: 11px solid #ECEDEC;
    border-bottom: 11px solid #ECEDEC;

}




.fa{
    color:#003592;
}


a:link{
    text-decoration: none;
}

.iframecomunicados{
    width: 1000px;
    height: 1000px;
    margin: 0 auto;
    z-index: 1;
    margin-top: -352px;
    margin-left: -243px;
}

span{
   font-family: "helvetica_neuethin"
}

td{
   font-family: "helvetica_neuethin"
}

.desaparecer1{
   
   width: 590px;
   height:473px;
   overflow: hidden;
   margin-left: 355px;
   margin-top: 66px;

}


.seccionpfmatdosdos{
    width: 500px;
  height:200px;
  margin-top: -772px;
  margin-left: 577px;
}

 

 .seccionpfdirectiva{
    width: 500px;
  height:200px;
  margin-top: -772px;
  margin-left: 577px;
}

.linkkuno{
    margin-top: 50px;

}



.boxlight1ero{
    height: 100px;
    width: 100px;
background-color: #FFD526;
position:absolute;
    
}